<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /html/clickjacker/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /html/clickjacker/index.php/$1 [L]
</IfModule>